<header>
    <h1>RECETA</h1>
</header>

<main>
    <section>
        <h3>Detalles</h3>
        <ul>
            <li>ID: <b id="recipe-id">{{payload._id}}</b></li>
        </ul>
    </section>

    <section class="ingredients">
        <h3>Ingredientes</h3>
        <div>
            <div>
                <ul class="ingredients__box__list">
                    {{#each payload.ingredients}}
                    <li class="ingredients__box__list__item">
                        <div class="ingredients__box__list__item__text">
                            Id: {{this.ingredient._id}} - Nombre: {{this.ingredient.title}}
                        </div>
                        <div>Cantidad:{{this.quantity}}</div>
                        <div><button onclick="removeIngredient('{{this.ingredient._id}}')">Quitar</button></div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <a href="/ingredients"><button title="Volver al inicio">↶</button></a>
    </section>
</main>

<script src="/api/public/js/ingredients.js"></script>